<header>
  <h1>{{title}}</h1>
  {{#equal signUp true}}
    <div class="">
      {{#equal hide 'register'}}
        <button> 
          <a href="/login">Iniciar session</a>
        </button> 
      {{/equal}}

      {{#equal hide 'login'}}
        <button> 
          <a href="/register">Registrarte</a>
        </button>
      {{/equal}}
    </div>
  {{/equal}}

    <form action="/api/v1/user/logout">
      <button type="submit">Cerrar session </button>       
    </form>

</header>
